data/cancer/ref/*.*
data/cancer/kmer/*.*
data/cancer/query/*.*
data/cancer/read/*.*
data/cancer/result/*.*
data/record.typeid
data/record.readid
data/test.fa
data/index
bin/multipleK/output
bin/multipleK/result/*_*
src/*.o
src/ndTree
